<div class="container zindex" id="menu-container">
  
  <ul id="gn-menu" class="gn-menu-main">
  
      <li class="gn-trigger">
  
        <a (click)="onTriggerClick($event)" (mouseover)="openIconMenu($event)" 
        (mouseout)="closeIconMenu($event)" 
        class="gn-icon gn-icon-menu">
          <span>Menu</span>
          </a>
  
        <nav (click)="onMenuClick($event)" (mouseover)="openMenu($event)" class="gn-menu-wrapper">
          <div class="gn-scroller">

            <ul class="gn-menu">

              <li>                
                <a routerLink="/ProductSpecs" class="gn-icon gn-icon-cog">Product Specification</a>

                <ul class="gn-submenu">
                    <li><a routerLink="/ProductSpecs/SearchStyle">> Search Style</a></li>
                    <li><a routerLink="/ProductSpecs/AddStyle">> Add Style</a></li>
                    <li><a routerLink="/ProductSpecs/Specs">> Add/Edit Specs Details</a></li>
                  </ul>
              </li>
              
              <li><a class="gn-icon gn-icon-archive">Critical Path</a></li>
              <li><a class="gn-icon gn-icon-article">Sample Room Daily Report</a></li>
              <li><a class="gn-icon gn-icon-article">Daily Management Report</a></li>

              <li>
                  <a>
                    <img src="assets/images/logout.png" height = "20" width = "20" 
                      style="float: left; margin-left: 10px; margin-top: 10px; margin-right: 5px;">

                    <form action="" method="POST">
                      <input type="submit" name="logout" value="Logout" class="logout-button">
                    </form>		
                    </a>	
              </li>

            </ul>
          </div><!-- /gn-scroller -->
        </nav>
      </li>
  
      <li><a class="gn-icon gn-icon-article">Nick </a></li>
    </ul>
  
  </div><!-- /container -->  
  
  <main>
    
    <router-outlet></router-outlet>
  
  </main>
  
  